.root {
  background: var(--ctx-color-bg-page);
  border-radius: var(--primitive-radius-400);
  padding: var(--primitive-space-400);
  display: flex;
  flex-direction: column;
  gap: var(--primitive-space-400);
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLabel,
.headerValue {
  font-size: var(--ctx-font-size-h3);
  font-weight: 700;
  line-height: 1.2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--ctx-font-size-caption);
  font-weight: 400;
}

.itemsLeft {
  display: flex;
  align-items: center;
  gap: var(--primitive-space-200);
}

.weight {
  color: var(--ctx-color-text-secondary);
}
