.root {
  display: flex;
  flex-direction: column;
  gap: var(--primitive-space-400);
}

.header {
  display: flex;
  align-items: baseline;
  gap: var(--primitive-space-400);
}

.title {
  font-size: var(--ctx-font-size-h3);
  font-weight: 700; /* Bold */
  color: var(--ctx-color-text-default);
  margin: 0;
}

.hint {
  font-size: var(--ctx-font-size-caption);
  color: var(--ctx-color-text-secondary);
}

.link {
  color: var(--ctx-color-text-link);
  text-decoration: none;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

.rowActions {
  display: flex;
  gap: var(--primitive-space-200);
}
