.root {
  font-size: var(--ctx-font-size-label);
  font-weight: 600; /* Semibold */
  font-variant-numeric: tabular-nums;
}

.ok {
  color: var(--sla-color-ok);
}

.warning {
  color: var(--sla-color-warning);
}

.danger {
  color: var(--sla-color-overdue);
}

.overdue {
  color: var(--sla-color-overdue);
}
