node_modules
.next
out
build

.git
.gitignore

.env
.env.*
!.env.example

.claude
.idea
.vscode
docs
*.md
!README.md

backup
*.dump
*.backup

coverage
*.tsbuildinfo
.figma-temp-*
Dockerfile
.dockerignore
docker-compose.yml
docker
