.container {
  max-width: var(--ctx-layout-max-width);
  margin-inline: auto;
  padding-inline: var(--ctx-space-page-desktop);
}

@media (max-width: 600px) {
  .container {
    padding-inline: var(--ctx-space-page-mobile);
  }
}
