.root {
  display: flex;
  flex-direction: column;
  gap: var(--ctx-space-stack-md);
}

.title {
  font-size: var(--ctx-font-size-h3);
  font-weight: 700; /* Bold */
  color: var(--ctx-color-text-default);
  margin: 0;
}

