.root {
  display: flex;
  flex-direction: column;
  gap: var(--primitive-space-400);
}

.title {
  font-size: var(--ctx-font-size-h3);
  font-weight: 700; /* Bold */
  color: var(--ctx-color-text-default);
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--primitive-space-400);
}
