.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sections {
  display: flex;
  flex-direction: column;
}

.logoutButton {
    display: flex;
    justify-content: flex-start; /* горизонталь */
    align-items: center;        /* вертикаль */
}
