.root {
  display: flex;
  flex-direction: column;
  gap: var(--ctx-space-stack-sm);
}

.label {
  font-size: var(--ctx-font-size-label);
  font-weight: var(--primitive-font-weight-medium);
  color: var(--ctx-color-text-default);
}

.input {
  font-size: var(--input-font-size);
  border-radius: var(--input-radius);
  border: var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-text);
  padding: var(--input-padding);
  width: 100%;
  outline: none;
  transition: border var(--ctx-transition);
}

.input::placeholder {
  color: var(--input-placeholder);
}

.input:focus {
  border: var(--input-border-focus);
}

.isError {
  border: var(--input-border-danger);
}

.isError:focus {
  border: var(--input-border-danger);
}

.hint {
  font-size: var(--ctx-font-size-caption);
  color: var(--ctx-color-text-secondary);
}

.hintError {
  color: var(--ctx-color-text-danger);
}
