.ring {
  width: var(--primitive-space-1600);
  height: var(--primitive-space-1600);
  border-radius: var(--primitive-radius-FULL);
  background-color: var(--ctx-color-bg-surface);
  flex-shrink: 0;
  position: relative;
}

.activated {
  outline: 3px solid var(--ctx-color-action-primary);
  outline-offset: -3px;
}

.surface {
  position: absolute;
  inset: var(--primitive-space-200);
  border-radius: var(--primitive-radius-FULL);
  background-color: var(--ctx-color-action-primary);
  color: var(--ctx-color-text-inverse);
  display: flex;
  align-items: center;
  justify-content: center;
}
