.root {
  position: relative;
  background: var(--ctx-color-bg-surface);
  border-radius: var(--primitive-radius-200);
  flex-shrink: 0;
}

.sizeL {
  width: var(--card-image-w-l);
  height: var(--card-image-h-l);
  padding: var(--primitive-space-200);
}

.sizeM {
  width: var(--card-image-size-m);
  height: var(--card-image-size-m);
  padding: var(--primitive-space-100);
}

.sizeS {
  width: var(--card-image-size-s);
  height: var(--card-image-size-s);
  padding: var(--card-image-padding-s);
}

.image {
  object-fit: contain;
}
